.ProImg:hover{
    height: 100px;
    width: 100px;
    display: inline;
    border-top: 3px solid red;
}
.sing:hover{
    background-color: aqua;
    border-radius: 10px solid green;
}
#PP .top img{
    box-shadow:0px 0px 50px 3px #f39c12;
   }